@media screen and (max-width: 898px){
    .item{
        width: 33.33%;
    }
}
@media screen and (max-width: 668px){
    .item{
        width: 50%;
    }
}
@media screen and (max-width: 435px){
    .item{
        width: 100%;
    }
}