.form-container{
    max-width: 1200px;
    margin: auto;
}
.input-section{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.input-section input , input[type = 'submit']{
    font-size: 18px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgba(63, 63, 63, 0.411);
    color: white;
    border-radius: 10px;
    transition: all .3s;
}
.input-section input:hover{
    border-radius: 0;
}
input[type = 'submit']{
    margin: 0 20px;
    cursor: pointer;
}